.as-transcript {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.4rem;
  overflow: auto;
  height: 400px;
}

.transcript_link {
  cursor: pointer;
}

.transcript_link:hover {
  text-decoration: underline;
}